---
layout: default
title: Close the Gap - Home
---
<header>
	<div class="container">
		<div class="column">
			<div>
				<h1 class="editable">Those who need it the most aren't the one's who can ask.</h1>
				<p class="editable">Close the Gap is a charity dedicated to helping those who can help, in a brand new effort to help those in need.</p>
				<div class="button">
					<a href="#donate">Donate Now</a>
				</div>
			</div>
		</div>
		<div class="column">
			<img src="{{ site.baseurl }}/images/sheep.jpg" alt="Sheep">
		</div>
	</div>
</header>

<div class="container">
	<h2 class="editable" style="text-align: center;">How easy it is to help</h2>

	<ul class="thirds">
		<li>
			<div class="image">{% include icons/site.html icon="population" %}</div>
			<h3 class="editable">Send us a Tip</h3>
			<p class="editable">If you live in an apartment complex in Toronto, or nearby areas, give us a call.</p>
		</li>

		<li>
			<div class="image">{% include icons/site.html icon="economy" %}</div>
			<h3 class="editable">Set up a Bin</h3>
			<p class="editable">If you give us a tip, we'll come by and set up a donation bin to collect empty bottles and used clothes. If you want to take that extra step too, set one up and we'll collect it.</p>
		</li>

		<li>
			<div class="image">{% include icons/site.html icon="conditions" %}</div>
			<h3 class="editable">Volunteer</h3>
			<p class="editable">Our volunteer truck drivers work flexible hours of the week picking up bins and delivering them to those who need it the most. Get in touch if you want to join our talented team!</p>
		</li>
	</ul>
</div>

<div class="container">
	<div class="columns">
		<div>
			<img src="{{ site.baseurl }}/images/sheep2.jpg" alt="Sheep">
		</div>
		<div>
			<h2 class="editable">Our Mission</h2>

			<p class="editable">Research shows the people who need donations, clothes, food and resources the most are not the people who are able to collect it from standard charities. What started as sheer dedication from our founder to bring donations straight to those in need, has inspired the rest of us into what we now call Close the Gap - where we close the gap between those who can give and those who need it the most.</p>
		</div>
	</div>
</div>

<div class="container">
	<hr>
	<blockquote>
		<p class="quote editable">We brought this up to a number of donation shops, but they all said the same thing; the overhead of this kind of operation outweighs any tangible benefit. It's a special point of view however, when we realized how much people were willing to help out - our volunteers work mostly autonomously, and our mission so far has been a great success.</p>
		<div class="attribute">
			<p class="meta">
				<span class="image"><img class="editable" src="{{ site.baseurl }}/images/wooly.jpg" alt="Wooly"></span>
				<span class="author editable"><strong>Wooly McBaa</strong></span>
			</p>
		</div>
	</blockquote>
</div>

<div class="darker">
	<div class="container">
		<h2 class="editable">Join us</h2>
		<p class="editable" style="text-align: center;">Sign up to hear the latest news and progress in our mission to Close the Gap.</p>
		<form action="{{ site.newsletter_action }}" method="post">
			<input type="text" name="EMAIL" placeholder="Email">
			<input type="submit" value="Sign up"/>
		</form>
	</div>
</div>

<div class="container" id="donate">
	<h2 class="editable">Make a donation</h2>
	<div class="donate">
		{{ site.donation_embed }}
	</div>
</div>

<div class="darker">
	<div class="container">
		<h2 class="editable">Updates</h2>
		<p class="editor-link"><a href="cloudcannon:collections/_posts" class="btn"><strong>&#9998;</strong> Add Update</a></p>
		<div class="posts">
			{% for post in site.posts %}
				<div class="post">
					<div class="image" style="background-image: url({{ post.featured_image}})"></div>
					<div class="post-content">
						<p class="date">{{ post.date | date: '%B %d, %Y' }}</p>
						<h3>{{ post.title }}</h3>

						{{ post.content }}
						<p class="editor-link"><a href="cloudcannon:collections/{{ post.path }}" class="btn"><strong>&#9998;</strong> Edit Update</a></p>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
